# Keep keys private
.env

# Virtual environment is local only
.venv/

# Don't need any caches
.vscode/
__pycache__/
.mypy_cache/
.pytest_cache/

# Idek what this is
.dist/

# Logging will clutter repo
*.log

#local folder
local/
