# Keep keys private
.env

# Virtual environment is local only
.venv/

# Don't need any caches
.vscode/
__pycache__/
.mypy_cache/
.pytest_cache/

# Idek what this is
.dist/

# Logging will clutter repo
logs/
*.log
*.logs

# Local folder
local/

# Temp files
app/temp*
app/tmp*
temp*
tmp*

# Coverage files
.cov*
htmlcov/

# Sample I/O files
samples/
sample*.txt

# Developmentfile
TODO.txt