# This file is used to list dependencies for the project
# Run 'pip install -r requirements.txt' to install them
pytest
numpy
pandas
python-dotenv
huggingface_hub
git-python # for interacting with Git repositories (cloning and assessing)